{% extends 'generic/object.html' %} {% load helpers %} {% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Quota</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">QTree</th>
                    <td>
                        {% if object.qtree %}
                        <a href="{{ object.qtree.get_absolute_url }}"
                            >{{ object.qtree }}</a
                        >
                        {% else %} &mdash; {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Volume</th>
                    <td>
                        {% if object.qtree %}
                        <a href="{{ object.qtree.volume.get_absolute_url }}"
                            >{{ object.qtree.volume }}</a
                        >
                        {% else %} &mdash; {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Size</th>
                    <td>
                        {% if object.size %} {{ object.size|filesizeformat }}
                        {%else %} Metering quota {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">SVM</th>
                    <td>
                        {% if object.qtree %}
                        <a href="{{ object.qtree.volume.svm.get_absolute_url }}"
                            >{{ object.qtree.volume.svm }}</a
                        >
                        {% else %} &mdash; {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Quota Index</th>
                    <td>{{ object.index }}</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ object.description }}</td>
                </tr>
            </table>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">{% include 'inc/panels/tags.html' %}</div>
</div>
{% endblock content %}
